@font-face {
    font-family: 'poller_oneregular';
    src: url('../fonts/pollerone/pollerone-webfont.eot');
    src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
        url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
        url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}
@font-face {
    font-family: 'leckerli_oneregular';
    src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
    src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
        url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
        url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

body {
    background: url(../pictures/memberArea.jpg) no-repeat fixed;
    background-size: cover !important;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}
.formDelete{
    color: lightgrey;
}
#btnDelete{
    color: black;
}
input{
    color: black;
}
label{
    display: block;
    float: left;
}
.del{
    font-size: 20px;
    }
/* debut css tabs*/
 /* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    
}

/* Style the buttons inside the tab */
.tabEvent{
    width: 50%;
    float: left;
    margin-top: 100px;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
} 
label, h2, p{
    color: white;
    }
.manager{
    padding-top: 100px;
    
}

/*fin css tabs*/