@font-face {
    font-family: 'poller_oneregular';
    src: url('../fonts/pollerone/pollerone-webfont.eot');
    src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
        url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
        url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}
@font-face {
    font-family: 'leckerli_oneregular';
    src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
    src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
        url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
        url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

body {
    background: url(../pictures/profil.jpg) no-repeat fixed;
    background-size: cover !important;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: black;
    margin: 0;
    padding: 0;
}
.del{
    font-size: 1.5rem;
}
input{
    color: black;
}
form.login input[type="email"], form.login input[type="password"], form.login input[type="text"], form.delete input[type="text"], select[name="groupType"]
{
    width: 100%;
    background: 0;
    border: 0;
    border-bottom: 1px solid #1a1a1a;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
    outline: 0;
}
.login input[type="text"]::placeholder{
    color: #666666;
}
.login input[type="email"]::placeholder{
    color: #666666;
}
.login input[type="password"]::placeholder{
    color: #666666;
}
.delete input[type="text"]::placeholder{
    color: #666666;
}
.login{
    margin-top: 30px;
}
input, label, select{
    margin-top: 10px;
}
#helpBlock{
    color: #C9302C;
    font-weight: bold;
    padding-left: 5px;
}